# Application
APP_ENV=production
PORT=8080

# PostgreSQL
BLUEPRINT_DB_HOST=psql_bp
BLUEPRINT_DB_PORT=5432
BLUEPRINT_DB_DATABASE=urlshortner
BLUEPRINT_DB_USERNAME=urluser
BLUEPRINT_DB_PASSWORD=changeme
BLUEPRINT_DB_SCHEMA=public

# Drizzle DB visualizer (optional, change in production)
DB_VIZ_MASTERPASS=admin123
