{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ShortyLink</title>
    <link rel="stylesheet" href="/static/output.css" />
</head>
<body class="bg-gray-900 text-gray-100 min-h-screen flex flex-col">
    
    {{ template "header" . }}
    
    <main class="flex-1">
        {{ block "content" . }}{{ end }}
    </main>
    
    {{ template "footer" . }}
    
</body>
</html>
{{ end }}
