{{define "header"}}
<header class="bg-gray-800 text-gray-100 px-6 py-4 flex items-center justify-between">
  <a href="/" class="text-xl font-bold text-gray-100 hover:text-red-500 transition-colors">
  ShortyLink
  </a>

  <nav class="space-x-4">
    <a href="/urls" class="text-blue-400 hover:text-red-500 transition-colors">My URLs</a>
    <a href="/about" class="text-blue-400 hover:text-red-500 transition-colors">About us</a>
    <a href="/auth" class="text-blue-400 hover:text-red-500 transition-colors">Register/Login</a>
  </nav>
</header>
{{end}}
