{{ define "content"}}
<section class="bg-gray-900 min-h-[70vh] flex items-center justify-center px-4">
    <div class="bg-gray-800 p-10 rounded-2xl shadow-lg w-full max-w-lg flex flex-col items-center space-y-6 text-center">
        <!-- Title -->
        <h2 class="text-gray-100 text-3xl font-bold">Thank You!</h2>
        
        <!-- Message -->
        <p class="text-gray-400 text-lg">
            Your message has been sent successfully. <br/>
            We’ll get back to you as soon as possible 🚀
        </p>
        
        <!-- Button back to home -->
        <a href="/" 
        class="mt-4 mb-2 bg-red-500 hover:bg-red-600 text-white font-semibold px-6 py-3 rounded-lg shadow-md hover:shadow-lg transition-all duration-200">
        Back to Home
    </a>
</div>
</section>
{{end}}
